@import url("https://fonts.googleapis.com/css?family=Arvo:bold|Lato|Open+Sans");

@import "~antd/dist/antd.css";

:root {
  --primary-colour: rgb(206, 116, 83);
  /* --prime-colour: rgb(177, 86, 53); */
  --secondary-colour: steelblue;
  --highlight-colour: whitesmoke;
  --text-display: Arvo;
  --text-body: Lato;
}

body {
  /* height: 100%; */
  font-family: var(--text-display) !important;
  margin: 0;
  padding: 0;
  z-index: 0;
  color: var(--secondary-colour);
}

master {
  /* height: 100vh; */
}

h1 {
  color: var(--secondary-colour);
}

h2 {
  color: var(--secondary-colour);
}

p {
  margin: 0;
  padding: 1em;
  filter: none;
  color: var(--secondary-colour);
  font-family: var(--text-body) !important;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgba(255, 255, 255, 50%); */
  /* background-image: url("../images/doggos/group/cuddletime.jpg"); */
  /* height: 100%; */
  /* position: relative; */
  /* width: 100%; */
}

.baseDiv {
  filter: none;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  padding: 1vw 2.5vw;
  border-radius: 2vw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 4.5 rem;
}

.text {
  /* position: absolute; */
  filter: revert;
  /* z-index: 1; */
}
