@import url("https://fonts.googleapis.com/css?family=Arvo:bold|Lato|Open+Sans");

/* @import "~antd/dist/antd.css"; */

:root {
  --primary-colour: rgb(233, 127, 89);
  --secondary-colour: steelblue;
  --highlight-colour: whitesmoke;
  --text-display: Arvo;
  --text-body: Lato;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--text-display) !important;
  margin: 0;
  padding: 0;
  z-index: 0;
  color: var(--secondary-colour);
  background-size: cover;
}

page__container {
  display: flex;
  margin: 2vh 2vw;
}

h1 {
  color: var(--secondary-colour);
  margin: 0 0 1em 0;
}

h2 {
  color: var(--secondary-colour);
  margin: 0 0 1em 0;
}

p {
  margin: 0;
  /* padding: 1em; */
  color: var(--secondary-colour);
  font-family: var(--text-body) !important;
}

input[type="submit"] {
  padding: 0.75em 1.25em;
  color: var(--highlight-colour);
  background: var(--secondary-colour);
  border: 0 none;
  cursor: pointer;
  border-radius: 0.5em;
  font-family: var(--text-body);
  font-style: heavy;
  letter-spacing: 0.15em;
  margin: 0.5em 0 1.5em 0;
}

input[type="text"] {
  width: 50%;
  min-width: 20em;
  margin: 0.5em 0 1.5em 0;
}

input[type="checkbox"] {
  margin: 0 1em 0 0;
}

input[type="password"] {
  width: 50%;
  min-width: 20em;
  margin: 0.5em 0 1.5em 0;
}

small {
  font-family: var(--text-body);
}

.parallax {
  /* min-height: 100vh; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.baseDiv {
  filter: none;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  border-radius: 2vw;
  padding: 2em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 4.5 rem;
}

.text {
  filter: revert;
}
