@import url("https://fonts.googleapis.com/css?family=Arvo");

.App {
  font-family: arvo;
  text-align: center;
}
.Doggo {
  text-align: left;
  font-size: 0.75em;
}

body {
  height: 100%;
  font-family: Avro;
}

div {
  font-family: Arvo;
}

.parallax {
  /* background-image: url("../images/doggos/group/cuddletime.jpg"); */
  /* height: 100%; */
  position: relative;
  background-attachment: fixed;
  background-position: center;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
}

.Doggo {
  text-align: left;
  font-size: 1rem;
}

.baseDiv {
  background-color: coral;
  border-radius: 2vw;
  padding: 1vw 2.5vw;
  outline-color: darkslategrey;
  outline-width: thin;
}
