@import url("https://fonts.googleapis.com/css?family=Arvo:bold|Lato|Open+Sans");

/* @import "~antd/dist/antd.css"; */

:root {
  --primary-colour: rgb(233, 127, 89);
  --secondary-colour: steelblue;
  --highlight-colour: whitesmoke;
  --text-display: Arvo;
  --text-body: Lato;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--text-display) !important;
  margin: 0;
  padding: 0;
  z-index: 0;
  color: var(--secondary-colour);
  background-size: cover;
}

main {
  width: 100%;
  padding: 70px 0 1em 0;
}

@media only screen and (max-width: 816px /*984px 949px 976px*/) {
  main {
    padding: 70px 0 0 0;
  }
}

h1 {
  color: var(--secondary-colour);
  margin: 0 0 0.5em 0;
}

h2 {
  color: var(--secondary-colour);
  margin: 0 0 0.25em 0;
}

p {
  margin: 0;
  margin: 0 0 1.5em 0;
  color: var(--secondary-colour);
  font-family: var(--text-body) !important;
  line-height: 1.2em;
}

input {
  min-width: 20em;
  margin: 0.5em 0 1.5em 0;
}

input[type="submit"] {
  padding: 0.75em 1.25em;
  color: var(--highlight-colour);
  background: var(--secondary-colour);
  border: 0 none;
  cursor: pointer;
  border-radius: 0.5em;
  font-family: var(--text-body);
  letter-spacing: 0.15em;
  width: 10em;
}

input[type="text"] {
  width: 50%;
}

input[type="checkbox"] {
  margin: 0 1em 0 0;
}

input[type="password"] {
  width: 50%;
}

button {
  padding: 0.75em 1.25em;
  color: var(--highlight-colour);
  background: var(--secondary-colour);
  border: 0 none;
  cursor: pointer;
  border-radius: 0.5em;
  font-family: var(--text-body);
  letter-spacing: 0.15em;
  width: 10em;
  line-height: 1.5em;
  margin: 0;
}

small {
  font-family: var(--text-body);
}

.parallax {
  /* min-height: 100vh; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.baseDiv {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  border-radius: 2vw;
  padding: 2em;
}

.text {
  filter: revert;
}

.link {
  text-decoration: none;
  font: 1em Arvo;
  color: var(--secondary-colour);
}
