.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  display: inline-block;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 800ms ease;
}

.card:hover {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.img {
  position: relative;
  display: inline-flex;
  width: 200px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  display: block;
  transform: rotateY(180deg);
  background-image: url("../images/misc/heart.svg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.logo {
  background-repeat: no-repeat;
  background-image: url("../images/misc/logo.svg");
  background-size: cover;
}
