.index__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0% 0% 0% 40%;
}
.index__doggo {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: var(--secondary-colour) solid 0.1em;
  border-radius: 0.25em;
  text-decoration: none;
  padding: 2%;
}

.index__doggo_name {
  text-decoration: none;
}
