.doggo-new-page__container {
  padding: 1em;
}

.doggo-new-page__container_form {
  display: grid;
  /* flex-direction: column; */
  grid-template-areas: "col_one col_two col_three";
}

.doggo-new__form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.col_one {
  grid-area: col_one;
}

.col_two {
  grid-area: col_two;
}

.col_three {
  grid-area: col_three;
}
