.index__container_page {
  width: 100%;
  padding: 5em 0em;
  /* margin: 5em 0em; */
  /* background-color: blue; */
}

.index__doggo_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5em 0em;
  padding: 0;
  background-color: var(--primary-colour);
}

.index__doggo_card {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: var(--secondary-colour) solid 0.15em;
  /* border-radius: 0.25em; */
  text-decoration: none;
  padding: 0%;
  background-color: white;
}

.index__doggo_img {
  position: relative;
  display: inline-flex;
  height: 20em;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.index__doggo_text {
  margin: 1em;
  line-height: 1em;
}

.index__doggo_name {
  text-decoration: none;
  color: var(--secondary-colour);
  line-height: 1.75em;
}

.index__doggo_details {
  line-height: 1.5em;
}

.svg {
  background-color: white;
  border-radius: 7em;
  /* border-color: var(--primary-colour);
  border-width: 2em; */
  padding: 2em;
}

.index__end {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  text-align: center;
  margin: 0;
  padding: 0;
}
