h1 {
  text-align: center;
  margin: 0 0 0.2em 0;
}

h2 {
  text-align: center;
  margin: 0em 0 1.5em 0;
}

.profile__doggo_img_container {
  display: flex;
  justify-content: center;
  background: rgb(233, 127, 89, 0);
  padding: 1em;
  background: linear-gradient(var(--primary-colour), rgb(233, 127, 89, 0));
}

.profile__doggo_img_box {
  position: relative;
  width: 50%;
  /* border-bottom: 0.2em solid var(--secondary-colour); */
}

.profile__doggo_img_box:before {
  content: "";
  display: block;
  padding-top: 100%;
  z-index: 1;
}

.profile__doggo_img_content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 0.5em solid var(--secondary-colour);
  padding: 0px;
}

.doggo__details_container {
  padding: 1em;
}

.doggo__display_text {
  font-family: var(--text-display);
  margin: 0 0 0.15em 0;
}

.doggo__body_text {
  font-family: var(--text-body);
  margin: 0 0 1em 0;
}

.doggo__details_container_info {
  display: grid;
  grid-template: 1fr 1fr;
  grid-template-areas: "col_one col_two";
}

.doggo__details_container_info_sp {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2em;
  grid-template-areas: "col_one col_two col_three col_four";
}

.col_one {
  grid-area: col_one;
}

.col_two {
  grid-area: col_two;
}
.info__col_one {
  grid-area: info_col_one;
}

.info__col_two {
  grid-area: info_col_two;
}
.info__col_three {
  grid-area: info_col_three;
}

.info__col_four {
  grid-area: info_col_four;
}

.baseDiv {
  background-color: rgba(245, 245, 245, 0.8);
}

.friend__single {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5em 0;
}

.friend__image {
  height: 10em;
  width: 10em;
  background-position: centered;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.18em solid var(--secondary-colour);
  margin: 0 0 0.5em 0;
}
