/* .bgimg-1,
.bgimg-2,
.bgimg-3 {
} */

.bgimg-1 {
  min-height: 32em;
}

/*
.bgimg-2 {
  min-height: 400px;
}

.bgimg-3 {
  min-height: 400px;
} */

.home__title_bar {
  position: sticky;
  top: 3em;
  z-index: 1;
  background-color: transparent;
}

.titlebanner {
  display: flex;
  justify-content: center;
  color: white;
  background: rgb(59, 2, 6);
  mix-blend-mode: multiply;
  font-style: Bold;
  font-size: 5em;
  width: 100%;
  margin: 0;
}

.bar {
  background-color: var(--primary-colour);
  height: 4vh;
}

.cover-image {
  width: 100%;
  height: 150vh; /* gives the effect a bit of room to breathe */
  position: relative;
  background: url(../images/doggos/wide-eyed-dog.jpg) fixed 50% / cover; /* This is the bottom image, blurred and grayscaled. Could also use filters to do this + another pseudoel, but is less performant. */
}

.cover-image:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  background-image: url(../images/doggos/wide-eyed-dogbwblur.jpg);
  /* filter: grayscale(100%); */
  mask: linear-gradient(
    to bottom,
    white 40%,
    transparent
  ); /* Top image is masked with a gradient */
}

.bar__text {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  text-align: center;
  margin: 0;
  padding: 0;
}
