.NavBar {
  display: flex;
  background-color: var(--primary-colour);
  position: fixed;
  flex-shrink: 0;
  top: 0;
  left: 0;
  right: 0;
  /* height: 3em; */
  z-index: 2;
  /* background-color: seashell; */
}

.NavBar a {
  color: var(--secondary-colour);
  text-decoration: none;
  padding: 1rem;
}

.NavBar a.active {
  color: var(--highlight-colour);
  background-color: var(--secondary-colour);
}

.NavBar span {
  padding: 1rem;
  white-space: nowrap;
}
