.sign-in__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: space-between; */
  /* padding: 2em; */
  /* height: 100%; */
  overflow: scroll;
}

.sign-in__row_forms {
  display: flex;
  flex-direction: column;
}

.sign-in__form {
  margin: 2vw 1vw 2vw 2vw;
  min-width: 15em;
}

.sign-in__image {
  display: flex;
  width: 100%;
  border-radius: 2vw;
  margin: 2vw 2vw 2vw 1vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: "../images/doggos/group/d381811e46fbde96b7a7437ca25afea1.jpg"; */
}

.sign-in__create_account {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}
