h4 {
  margin: 2em 0 0.5em 0;
}

p {
  margin: 0 0 0.5em 0;
}

.baseDiv {
  background-color: var(--highlight-colour);
  /* padding: 1em; */
  border: solid var(--primary-colour) 0.5em;
}

.user_div {
  background: linear-gradient(
    90deg,
    var(--primary-colour),
    rgba(233, 127, 89, 0)
  );
}

.user__avatar {
  height: 14em;
  width: 14em;
  background-position: centered;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.18em solid var(--secondary-colour);
  border-radius: 50%;
  background-image: "../images/users/Littlefinger_Main.jpg";
  margin: 0 0 2em 0;
}

.user__info {
  margin: 0 0 0 2em;
}

.user__doggo_image {
  height: 10em;
  width: 10em;
  background-position: centered;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.18em solid var(--secondary-colour);
  margin: 0 0 0.5em 0;
}

.user__doggo_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(0 0 0 0);
  justify-content: space-evenly;
}

.user__doggo_single {
  display: flex;
  flex-direction: column;
}
