<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Doggo Date</title>
  <link rel="stylesheet" href="square.css" />
  <link rel="stylesheet" href="card.css" />
  <script src="square.js"></script>
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="mosiac.css"/> -->
  <!-- <script src="mosiac.js"></script> -->
</head>

<body class="parallax">

  <div class="container">

    <div class="basediv">
      <h1>Doggo Date</h1>
    </div>

    <div class="row">

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/archmage_alfie.jpg');">
        </div>
        <div class="back">
        </div>
      </div>

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/bumble_bertha.jpg');">
        </div>
        <div class="back" style="background-position-x: -200px">
        </div>
      </div>

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/drill_bit_darel.jpg');">
        </div>
        <div class="back" style="background-position-x: -400px">
        </div>
      </div>

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/four_fists_phil.jpg');">
        </div>
        <div class="back" style="background-position-x: -600px">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/inbread_dog.jpg');">
        </div>
        <div class="back" style="background-position-y: -200px">
        </div>
      </div>

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/knight_nicholas.jpg');">
        </div>
        <div class="back" style="background-position: -200px -200px">
        </div>
      </div>

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/larry_the_lion.jpg');">
        </div>
        <div class="back" style="background-position: -400px -200px">
        </div>
      </div>

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/lumberjack_laurence.jpg');">
        </div>
        <div class="back" style="background-position: -600px -200px">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/moneybags_michael.jpg');">
        </div>
        <div class="back" style="background-position-y: -400px">
        </div>
      </div>

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/nina_the_ninja.jpg');">
        </div>
        <div class="back" style="background-position: -200px -400px">
        </div>
      </div>

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/paws.jpg');">
        </div>
        <div class="back" style="background-position: -400px -400px">
        </div>
      </div>

      <div class="card">
        <div class="front img" style="background-image:url('./assets/images/rebel_with_a_cause_callum.jpg');">
        </div>
        <div class="back" style="background-position: -600px -400px">
        </div>
      </div>

    </div>

  </div>

</body>

</html>